.notification {
  color: green;
  background: palegreen;
  font-size: 30px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.errornotification {
  color: red;
  background: lightgrey;
  font-size: 30px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
